html, body {
  height: 100%!important;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.hideframe {
  position: absolute;
  visibility: hidden;
}

p.copy_right {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .copy-right_text {
  padding-bottom: 30px;
  background: #222628;
}

.footer .copy-right_text .footer_border {
  padding-bottom: 30px;
}

.footer .copy-right_text .copy_right {
  font-size: 16px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  .footer .copy-right_text .copy_right {
    font-size: 14px;
  }
}

.footer .copy-right_text .copy_right a {
  color: #5DB2FF;
}

